{{ $works := .Site.Data.works }}

<section class="violet">
  <h2 class="heading">{{ $works.title }}</h2>

  <div class="row">
    {{ range $_, $work := $works.works }}
    <div class="col-12 col-lg-6 col-md-6 mb-3">
      <div class="card h-100">
        <img
          src="{{ $work.image }}"
          class="card-img-top"
          style="width: 120px;"
        />
        <div class="card-body">
          <h5 class="card-title">
            <a target="_blank" href="{{ $work.url }}"> {{ $work.title }}</a>
          </h5>
          <span>
            {{ range $_, $tag := $work.tags }}
            <span class="badge badge-secondary">{{ $tag }}</span>
            {{ end }}
          </span>
          <p class="card-text">{{ $work.description }}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
